name: oauth

services:
  nginx:
    image: nginx:1.29
    ports:
      - '8090:80'
    volumes:
      - ./apps/laravel-oauth:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    user: '1000:1000'
    working_dir: /var/www/html
    volumes:
      - ./apps/laravel-oauth:/var/www/html

  mysql:
    image: mysql:8.4
    ports:
      - '3307:3306'
    environment:
      MYSQL_DATABASE: oauth
      MYSQL_ROOT_PASSWORD: Excusem3.
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin
    links:
      - mysql
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
    ports:
      - 8091:80

volumes:
  mysql_data:
